.container{
  text-align: center;
}

.form-control{
    width: 250px;
    margin-left: 345px;
    margin-bottom: 5px;
}

input{
  width: 100px;
  margin-right: 350px;  

} 
marquee{
    margin-top: 80px;
    color: brown;
  }

/* Making responsive using media query   */

@media only screen and (max-width: 1200px) {

  .form-control{
    width: 100%;
    margin-left: 0px;
    margin-bottom: 5px;
}

input{
  width: 100%;
  margin-right: 0;  

} 

}